# Entornos virtuales
myenv/
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Entornos virtuales
myenv/
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# SO
.DS_Store
Thumbs.db

# Datasets grandes locales
data/teleferico_lapaz.csv